@import "tailwindcss";


@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-on-hover:hover {
  animation: rotate360 0.8s linear;
}

html {
  scroll-behavior: smooth;
}
